<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('partials/header') %>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
<!--    <h1><%= title %></h1>-->

    <a href="/create"><button id="create_btn">Create new post</button></a>

    <select id="sort_by" onchange="sortBy(this.value)">
      <option value="date">Sort by Date</option>
      <option value="distance">Sort by Distance</option>
    </select>

    <% if (data === null) { %>
      <p>Cannot connect to server</p>
    <% } else if (data.length === 0) { %>
      <p>No posts available currently.</p>
    <% } else { %>
      <% data.forEach(post => { %>
        <a class="post_link" href="/post/<%= post._id %>">
          <img class="post_image" src="/<%= post.image %>" alt="<%= post.plant_name %>" width="200" height="200">
          <div class="post_content">
            <p><strong><%= post.plant_name %></strong></p>
            <p>Location: <%= post.location %></p>
            <p>Date: <%= post.date %></p>
            <p>User: <%= post.username %></p>
          </div>
        </a>
        <hr>
      <% }); %>
    <% } %>
  </body>
</html>
