<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('partials/header') %>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <select id="sort_by" onchange="sortBy(this.value)">
      <option value="date">Sort by Date</option>
      <option value="distance">Sort by Distance</option>
    </select>

    <% if (data === null) { %>
      <p>Cannot connect to server</p>
    <% } else if (data.length === 0) { %>
      <p>No plant entries available currently.</p>
    <% } else { %>
      <% data.forEach(plant_entry => { %>
        <div class="plant_enrty_container">
          <a class="plant_link" href="/plant_entry/<%= plant_entry._id %>">
            <img class="plant_image" src="/<%= plant_entry.image %>" alt="<%= plant_entry.plant_name %>" width="200" height="200">
          </a>
        </div>
        <hr>
      <% }); %>
    <% } %>
  </body>
</html>
