<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('partials/header') %>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/plant_entry.js"></script>
</head>
    <body onload="init()">
        <div class="container">
            <% if (plant_entry === null) { %>
                <p>Cannot load plant_entry</p>
            <% } else { %>
                <div class="plant_details">
                    <img src="/<%= plant_entry.image %>" alt="<%= plant_entry.plant_name %>" width="200" height="200">
                    <p>Plant name:<%= plant_entry.plant_name %></p>
                    <p>Location: <%= plant_entry.location %></p>
                    <p>Description: <%= plant_entry.description %></p>
                    <p>Date: <%= plant_entry.date %></p>
                    <p>Height: <%= plant_entry.height %></p>
                    <p>Spread: <%= plant_entry.spread %></p>
                    <p>User: <%= plant_entry.username %></p>
                </div>
            <% }; %>

            <div id="chat_interface">
                <h2>Comments</h2>
                <% if (comments === null) { %>
                    <p>Cannot load comments</p>
                <% } else { %>
                    <div id="history">
                        <% comments.forEach(comment => { %>
                            <div class="plant_content">
                                <p><strong><%= comment.username %></strong></p>
                                <p><%= comment.commentText %></p>
                                <p><%= comment.date %></p>
                            </div>
                            <hr>
                        <% }); %>
                    </div>
                <% }; %>
                <div id="input">
                    <form id="comment_form" action="/save-comment" method="plant_entry" onsubmit="return false;">
                        <input type="hidden" id="plant_id" name="plant_id" value="<%= plant_id %>">
                        <p><label for="name">Your name: </label>
                            <input type="text" id="username" name="username">
                        </p>
                        <p>
                            <input type="text" id="commentText" name="commentText" placeholder="Enter your reply...">
                            <button id="comment_send" onclick="sendCommentText()">Send</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <button id="close_btn" onclick="returnHome()">Go Back</button>
    </body>
</html>
