<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link rel='stylesheet' href='/stylesheets/create_plant.css'/>
        <link rel="manifest" href="/manifest.json">
        <link rel="shortcut icon" href="#">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    </head>
    <body>
        <div class="body_container">
            <%- include('partials/header') %>
            <% if (plant_entry === null) { %>
                <p>Cannot load plant_entry</p>
            <% } else { %>
            <div class="main_section">
                <button class="arrow-btn" onclick="goToReferrer()"><img class="arrow-left-icon" src="/images/arrow_left_icon.png" alt="Go back to homepage"></button>
                <h2 class="create_entry_title">Edit your plant entry</h2>
                <form id="create_plant_form" action="/create_plant" method="post" enctype="multipart/form-data" >
                    <input type="hidden" id="plant_id" name="plant_id" value="<%= plant_entry._id %>">
                    <input type="hidden" id="plant_identification" name="plant_identification" value="<%= plant_entry.identification_status %>">
                    <div class="add_plant_entry_container">
                        <h3>Identification</h3>
                        <p>
                            <label for="plant_name">Plant name </label>
                            <br>
                            <input class="text-input" type="text" id="plant_name" name="plant_name" value="<%= plant_entry.plant_name%>" required>
                        </p>
                        <p>
                            <label for="identification_status"></label>
                            <select id="identification_status" name="identification_status">
                                <option id="unknown" value="unknown">Unknown</option>
                                <option id="in_progress" value="in_progress">In Progress</option>
                                <option id="completed" value="completed">Completed</option>
                            </select>
                        </p>
                    </div>
                    <br>
                    <button class="form-button" type="submit">Update your plant entry</button>
                </form>
                <button class="return-button" onclick="goToReferrer()">Go Back</button>
                <div id="completed-warning" class="warning-message hidden">
                    <div><img class="announcement-icon" src="/images/announcement.png" alt="Announcement icon"></div>
                    <div><h2>Warning!</h2><p>Make sure that the plant name is correct
                        (e.g. has the correct name, no spelling mistakes, etc. Once the status is updated to Completed,
                        this cannot be changed.</p></div>
                </div>
            </div>

            <%}%>

        </div>
        <%- include('partials/footer.ejs')%>>
        <script src="/javascripts/username_utils.js"></script>
        <script src="/javascripts/main.js"></script>
        <script src="/javascripts/create_plant.js"></script>
        <script src="/javascripts/edit_plant.js"></script>
    </body>
</html>
