<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/index.js"></script>
  </head>
  <body onload="init()">
    <h1><%= title %></h1>
    <button id="create_btn" onclick="openCreatePost()">Create new post</button>

    <% data.forEach(post => { %>
      <a id="post_link" href="/post/<%= post._id %>">
        <p><strong><%= post.plant_name %></strong></p>
        <p>Description: <%= post.description %></p>
        <p>Date: <%= post.date %></p>
        <p>User: <%= post.username %></p>
        <hr>
      </a>
    <% }); %>

    <div id="overlay">
      <% include create-post.ejs%>
    </div>
  </body>
</html>
